<li>
    {{burger_name}}

{{#unless devoured}}
      <button class="devour-burger" data-id="{{id}}" data-devour="{{devoured}}">
        {{#unless devoured}}DEVOUR{{/unless}}
    </button>
    {{/unless}}
</li>